# OS
.DS_Store
Thumbs.db
__MACOSX/
._*

# Editors
.vscode/
.idea/
*.swp

# Logs
*.log

# Python
__pycache__/
*.pyc
.venv/
venv/

# Node.js
node_modules/

# Build artifacts
dist/
build/
coverage/

# Secrets
**/service-account.json
